<div class="row">
  <div class="col-12 ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb px-0">
        <li class="breadcrumb-item breadcrumb-item-green"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item breadcrumb-item-green" aria-current="page"><%= link_to "Usuarios", users_path %></li>
      </ol>
    </nav>
  </div>
  <div class="col-12 mb-4">
    <h3>Editar información de usuario</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 text-right">
    <p><em class="red-text">*</em> Estos campos son requeridos</p>
  </div>
</div>

<div class="row mt-5">
  <%= form_for @user, html: {class: 'col-xl-12' } do |f| %>
    <div class="form-group row">
      <%= f.label :name, "Nombre:", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group required row">
      <%= f.label :email, "Correo electrónico:", class: "col-sm-2 col-form-label"%>
      <div class="col-sm-10">
        <%= f.email_field :email, class: "form-control", required: true%>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :role, "Tipo de usuario:", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%# Comentario: se colocan en el select los roles que puede tener un usuario %> 
        <%= f.select :role, options_for_select([["Usuario", "usuario"],["Administrador", "administrador"]], @user.role),{}, {class: "form-control"} %>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-2">¿Usuario activo?</div>
      <div class="col-sm-10">
        <div class="form-check">
          <%= check_box("user", "active")%>
          <label class="form-check-label" for="gridCheck1">
            * Si se desmarca esta casilla el usuario se guardará como inactivo y no podrá ingresar al sistema
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row mt-5">
      <div class="offset-md-6 col-md-6 text-right">
        <%= submit_tag "Modificar usuario", class: "btn btn-primary mr-2"%>
        <%= link_to "Cancelar", users_path , class:"btn btn-secondary" %>
      </div>
    </div>
    
  <% end %>
</div>




