
<div class="row mt-5">
  <div class="col-12 ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb px-0">
        <li class="breadcrumb-item breadcrumb-item-green"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
      </ol>
    </nav>
  </div>
  <div class="col-12 mb-4">
    <h3>Usuarios del sistema</h3>
  </div>

  <div class="col-12">
    <%= link_to new_user_path, class: "btn btn-primary" do%>
      <i class="fas fa-plus"></i> Registrar nuevo usuario
    <% end %>
  </div>
</div>

<div class="row mt-5">
  <%= search_form_for @search, html: {class: 'col-xl-12' }  do |f| %>
    <div class="form-group search-form-icons row">
      <div class="col-md-9 mt-1">
        <span class="fas fa-search"></span>
        <%= f.text_field :name_or_email_cont, class: 'form-control', placeholder: 'Nombre o correo electrónico' %>
      </div>
      <div class="col-md-3 mt-1">
        
        <%= f.submit class: 'btn btn-primary'%>
        <%= link_to "Limpiar", request.path, class: "btn btn-light" %>
      </div>      
    </div>
  <% end %>
</div>


<div class="row mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Tipo</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.capitalize %></td>
          <%# Comentario: Ya que active es un dato true/false , se indica que muestre "activo" si es true e "Inactivo" en caso contrario %> 
          <td><%= user.active ? "Activo" : "Inactivo" %></td>
          <%# Comentario: Si el usuario tiene rol de superusuario no puede ser editado en la vista %> 
          <td>
            <% if user.role != "superusuario"%>
              <i class="fas fa-edit general-green"></i>
              <%= link_to "Editar", edit_user_path(user), class:"edit-details" %>
            <% end %>
          </td>
          <td>
            <% if user.invitation_accepted_at.nil? %>
              <%= link_to resend_invitation_path(user), class: "resend-invitation", :remote => true do %>
                <i class="fas fa-redo-alt general-green"></i> Reenviar invitación
              <% end %>

            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row pagination-sm justify-content-center my-3" >
  <%= paginate @users %>
</div>