<div class="row">
  <div class="col-12 ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb px-0">
        <li class="breadcrumb-item breadcrumb-item-green"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item breadcrumb-item-green" aria-current="page"><%= link_to "Ordenes de egreso", outbound_orders_path %></li>
      </ol>
    </nav>
  </div>
  <div class="col-12 mb-4">
    <h3>Crear nueva orden de egreso</h3>
  </div>
</div>

<div class="row mt-5">
  <%= form_for @outbound_order, html: {class: 'col-xl-12', id: 'new_outbound_order' } do |f| %>

    <div class="form-group row mb-5">
      <%= f.label :comments, "Comentarios:", class: "col-sm-3 col-lg-2 col-form-label" %>
      <div class="col-sm-9 col-lg-10">
        <%= f.text_area :comments, class: "form-control" %>
      </div>
    </div>
    
    <%# Comentario: Con este boton se agrega un nuevo producto, el link_to_add_association es propio de la gema Cocoon para formularios anidados %>
    <div class="form-group row">
      <%= link_to_add_association  f, :transaction_details , class: "btn btn-outline-add" do %>
        <i class="fas fa-plus"></i> Agregar producto
      <% end %>
    </div>

    <%= f.fields_for :transaction_details do |transaction_detail| %>
      <%# Comentario: Se carga un partial que contiene el codigo html para agregar cada producto %>
      <%= render 'transaction_detail', f: transaction_detail %>
    <% end %>

    <div class="form-group row mt-5">
      <div class="offset-md-6 col-md-6 text-right">
        <%= submit_tag "Crear orden de egreso", class: "btn btn-primary mr-2" %>
        <%= link_to "Cancelar", outbound_orders_path , class:"btn btn-secondary" %>
      </div>
    </div>

  <% end %>
</div>


