<div class="row">
  <div class="col-12 ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb px-0">
        <li class="breadcrumb-item breadcrumb-item-green"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item breadcrumb-item-green" aria-current="page"><%= link_to "Ordenes de egreso", outbound_orders_path %></li>
      </ol>
    </nav>
  </div>
  <div class="col-12 mb-4">
    <h3>Orden de egreso # <%= @outbound_order.id %></h3>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= link_to outbound_orders_path, class: "btn btn-primary" do%>
      <i class="fas fa-angle-left"></i> Regresar al listado de ordenes
    <% end %>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-xl-10">
    <div class="row">
      <div class="col-md-3">
        <p>Fecha de creación: </p>
      </div>
      <div class="col-md-9">
        <p><%= @outbound_order.created_at.to_s(:standart_format) %></p>
      </div>
    </div>
  </div>

  <div class="col-xl-10">
    <div class="row">
      <div class="col-md-3">
        <p>Comentarios de la orden:</p>
      </div>
      <div class="col-md-9">
        <p><%= simple_format(@outbound_order.comments) %></p>
      </div>
    </div>
  </div>

</div>

<div class="row mt-5">
  <div class="col-12 text-center">
    <h4>Detalles de la orden</h4>
  </div>
</div>

<div class="row mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código de producto</th>
        <th scope="col">Nombre del producto</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <% @transaction_details.each_with_index do |transaction_detail, number| %>
        <tr>
          <td><%= number + 1 %></td>
          <td><%= transaction_detail.product.product_code %></td>
          <td><%= transaction_detail.product.name %></td>    
          <td><%= transaction_detail.quantity %></td>  
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
