<div class="row mt-5">
  <div class="col-12">
    <h2>Editar información del producto</h2>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <%= link_to products_path, class: "btn btn-primary" do%>
      <i class="fas fa-arrow-left"></i> Regresar al listado de productos
    <% end %>
  </div>
  <div class="col-6">
    <p><em class="red-text">*</em> Estos campos son requeridos</p>
  </div>
</div>

<div class="row mt-5">
  <%= form_for @product, html: {class: 'col-xl-12' } do |f| %>

    <div class="form-group row">
      <%= f.label :product_code, "Código de producto:", class: "col-md-3 col-form-label" %>
      <div class="col-md-9">
        <%= f.text_field :product_code, class: "form-control" %>
      </div>
    </div>

    <div class="form-group required row">
      <%= f.label :name, "Nombre del producto:", class: "col-md-3 col-form-label" %>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control", required: true%>
      </div>
    </div>

    <div class="form-group required row">
      <%= f.label :price, "Precio $", class: "col-md-3 col-form-label" %>
      <div class="col-md-9">
        <%# Comentario: Este campo no permite letras y se establece 0 como valor minimo, ademas permite 2 decimales %>
        <%= f.number_field :price, class: "form-control", value: @product.price, min: 0, step: 0.01 , required: true, placeholder: "Este campo no puede quedar vacio, debe ser al menos 0" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">¿Con cantidad minima de existencias?</div>
      <div class="col-md-9">
        <div class="form-check">
          <%= check_box("product", "with_minimum_stock")%>
          <label class="form-check-label">
            * Si se marca esta casilla se podrá establecer una cantidad minima para que el sistema envie avisos de "pocas existencias"
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row" id="minimum_stock_quantity" >
      <%= f.label :minimum_stock, "Cantidad minima en existencia:", class: "col-md-3 col-form-label" %>
      <div class="col-md-9">
        <%= f.number_field :minimum_stock, class: "form-control", value: @product.minimum_stock, min: 0 %>
      </div>
    </div>

    <div class="form-group row mt-5">
      <div class="offset-md-6 col-md-6 text-right">
        <%= submit_tag "Modificar producto", class: "btn btn-primary mr-2" %>
        <%= link_to "Cancelar", products_path , class:"btn btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <fieldset class="col-6 scheduler-border">
      <legend class="scheduler-border">Adicionales</legend>
      <div class="col-12">
        <button class="btn btn-info">Realizar ajuste de cantidades</button>
      </div>
      <div class="col-12">
        <%= link_to 'Eliminar producto', @product, method: :delete, data: { confirm: 'Are you sure?' } , class:"mt-3 btn btn-danger px-5"%>
      </div>
  </fieldset>
</div>