<div class="row">
  <div class="col-12 ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb px-0">
        <li class="breadcrumb-item breadcrumb-item-green"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item breadcrumb-item-green" aria-current="page"><%= link_to "Productos", products_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Transacciones del producto</li>
      </ol>
    </nav>
  </div>
  <div class="col-12 mb-4">
    <h3>Desglose de transacciones del producto</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Producto: <%= @product.name %></h4>
  </div>
</div> 

<div class="row mt-5">
  <div class="col-6">
    <%= link_to @product, class: "btn btn-primary" do%>
      <i class="fas fa-angle-left"></i> Regresar al producto
    <% end %>
  </div>
</div>
<div class="row mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th># de transacción</th>
        <th>Tipo de transacción</th>
        <th>Cantidad</th>
        <th>Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      <% @transaction_details.each do |transaction_detail| %>
        <tr>
          <td><%= transaction_detail.id %></td>
          <td>
            <% if transaction_detail.order.type == "OutboundOrder" %>
              Orden de egreso
            <% elsif transaction_detail.order.type == "InboundOrder" %>
              Orden de ingreso
            <% else %>
              Ajuste de cantidades
            <% end %>
          </td>
          <td><%= transaction_detail.order.type == "OutboundOrder" ? -transaction_detail.quantity : transaction_detail.quantity %></td> 
          <td><%= transaction_detail.created_at.to_s(:standart_format) %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>

<div class="row pagination-sm justify-content-center mt-3" >
  <%= paginate @transaction_details %>
</div>