<div class="row mt-5">
  <div class="col-12">
    <h2>Crear nueva venta</h2>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <%= link_to sales_path, class: "btn btn-primary" do%>
      <i class="fas fa-arrow-left"></i> Regresar al listado de ventas
    <% end %>
  </div>
  <div class="col-6">
    <p><em class="red-text">*</em> Estos campos son requeridos</p>
  </div>
</div>

<div class="row mt-5">
  <%= form_for @sale, html: {class: 'col-xl-12 ' } do |f| %>

    <div class="form-group required row mb-5">
      <%= f.label :order_number, "Código o número de orden:", class: "col-sm-4 col-lg-3 col-form-label" %>
      <div class="col-sm-8 col-lg-9">
        <%= f.text_field :order_number, class: "form-control", required: true%>
      </div>
    </div>
    
    <div class="form-group row">
      <%= link_to_add_association 'Agregar producto', f, :transaction_details , class: "btn btn-primary" %>
    </div>

    <%= f.fields_for :transaction_details do |transaction_detail| %>
      <%# Comentario: Se carga un partial que contiene el codigo html para agregar cada producto %>
      <%= render 'transaction_detail', f: transaction_detail %>
    <% end %>


    <div class="form-group row mt-5">
      <div class="offset-md-6 col-md-6 text-right">
        <%= submit_tag "Crear venta", class: "btn btn-primary mr-2" %>
        <%= link_to "Cancelar", sales_path , class:"btn btn-secondary" %>
      </div>
    </div>

  <% end %>
</div>


