<!DOCTYPE html>
<html>
  <head>
    <title>Ceysi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
        <!-- Aqui va a ir el logo  -->
          <h3>Ceysi</h3>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
              <a href="/"><i class="fas fa-home"></i> Inicio</a>
            </li>
            <li>
              <%= link_to(products_path) do %>
                <i class="fas fa-th-large"></i> Productos
              <% end %>
            </li>
            <li>
              <%= link_to(purchases_path) do %>
                <i class="fas fa-shopping-basket"></i> Compras
              <% end %>
            </li>
            <li>
              <%= link_to(sales_path) do %>
                <i class="fas fa-dollar-sign"></i> Ventas
              <% end %>
            </li>
            <li>
              
              <a href="#settingsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fas fa-wrench"></i> Configuración</a>
              <ul class="collapse list-unstyled" id="settingsubmenu">
                <li>
                  <%= link_to users_path do %>
                    <i class="fas fa-users"></i> Usuarios
                  <% end %>
                </li>
                <li>
                  <a href="#"><i class="fas fa-user"></i> Perfil</a>
                </li>
              </ul>
            </li>
        </ul>
    </nav>

    <div id="content" class="toward-the-right">
      <nav class="navbar sticky-top bg-white">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-menu">
            <span>Ocultar/mostrar menú</span>
          </button>
          <%= link_to('Cerrar sesión', destroy_user_session_path, method: :delete, class: "btn btn-logout my-2 my-sm-0") %>
        </div>
      </nav>
      <div class="container-fluid">
        <%# Comentario: Agregar mensajes flash %> 
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <% if !!flash[:errors] %>
          <% flash[:errors].each do |e| %>
            <p class="alert alert-danger"><%= e %></p>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
      
    </div>

  </div>


  </body>
</html>
