<!DOCTYPE html>
<html>
  <head>
    <title>Ceysi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
        <!-- Aqui va a ir el logo  -->
          <h3>Ceysi</h3>
        </div>
        <ul class="list-unstyled components">
          <li class="active">
            <a href="/"><i class="fas fa-home"></i> Inicio</a>
          </li>
          <li>
            <%= link_to(products_path) do %>
              <i class="fas fa-th-large"></i> Productos
            <% end %>
          </li>
          <li>
            <%= link_to(inbound_orders_path) do %>
              <i class="fas fa-shopping-basket"></i> Ordenes de ingreso
            <% end %>
          </li>
          <li>
            <%= link_to(outbound_orders_path) do %>
              <i class="fas fa-cash-register"></i></i> Ordenes de egreso
            <% end %>
          </li>
          
          <li>
            <a href="#settingsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fas fa-wrench"></i> Configuración</a>
            <ul class="collapse list-unstyled" id="settingsubmenu">
              <% if current_user.role != "usuario" %>
                <li>
                  <%= link_to users_path do %>
                    <i class="fas fa-users"></i> Usuarios 
                  <% end %>
                </li>
                <li>
                  <%= link_to new_setting_path do %>
                    <i class="fas fa-mail-bulk"></i> Aviso de existencias
                  <% end %> 
                </li>
              <% end %>
              <li>
                <%= link_to profile_path do %>
                  <i class="fas fa-user"></i> Editar perfil
                <% end %> 
              </li>
            </ul>
          </li>
        </ul>
    </nav>

    <div id="content" class="toward-the-right">
      <nav class="navbar sticky-top bg-white">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-menu">
            <i class="fas fa-bars"></i>
          </button>
          <%= link_to('Cerrar sesión', destroy_user_session_path, method: :delete, class: "btn btn-logout my-2 my-sm-0") %>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="col-12" id="flash">
          <%# Comentario: Agregar mensajes flash %> 
          <%= render partial: "shared/notice_banner" %>            
        </div>  
                  
        <%= yield %>
      </div>
      
    </div>

  </div>


  </body>
</html>
